#/web    
#dist
web/index.html
web/pnpm-lock.yaml
web/public/vite.svg
web/README.md
web/src/App.css
web/src/App.tsx
web/src/assets/react.svg
web/src/components/Dashboard.tsx
web/src/components/ui/mri-button-variants.ts
web/src/components/ui/MriButton.tsx
web/src/hooks/useNuiEvent.ts
web/src/index.css
web/src/lib/utils.ts
web/src/main.tsx
web/src/utils/fetchNui.ts
web/src/utils/mock.ts
web/vite.config.ts
web/eslint.config.js
web/postcss.config.js
web/tailwind.config.js
web/components.json
web/package-lock.json
web/package.json
web/tsconfig.app.json
web/tsconfig.json
web/tsconfig.node.json
